.Display {
  width: 70vw;
  justify-content: center;
  align-items: center;
  margin: 2vh auto;
  display: flex;
  flex-wrap: wrap;

  .Animal {
    width: 23%;
    margin: 1vh 0.8%;
    height: 35vh;
    border: 1px solid #eee;

    .img {
      height: 100%;
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      .info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        flex-direction: column;
        color: #fff;
        transition: 0.4s;
        &:hover {
          opacity: 1;
        }

        .name {
          font-size: 22px;
          font-weight: 400;
          margin-bottom: 8px;
        }

        h4 {
          font-size: 18px;
          margin: 0;
          font-weight: 300;
        }
      }
    }
  }
}

.filterLink {
  // color: #fff;
  width: 12vw;
  margin-left: 14.5vw;

  a {
    color: #fff;
  }

  h5 {
    border: 1px solid #4d6bff;
    background: #4d6bff;
    text-align: center;
    font-weight: 400;
    padding: 1vh 2vw;
    margin: 0;
  }
}

.Shelter {
  background: #fafafafa;
}

@media screen and (max-width: 1192px) {
  .Display {
    width: 80vw;
  }
}

@media screen and (max-width: 992px) {
  .Display {
    width: 85vw;
    .Animal {
      width: 30%;
    }
  }
}
@media screen and (max-width: 768px) {
  .Display {
    .Animal {
      width: 47%;
    }
  }
}
@media screen and (max-width: 600px) {
  .Display {
    .Animal {
      height: 25vh;
    }
  }
}
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  .Display {
    width: 85vw;
    .Animal {
      width: 30%;
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Display {
    .Animal {
      height: 70vh;
    }
  }
}
