$button: #4d6bff;

.Sort {
  height: 150px;
  width: 50vw;
  margin: 0 auto 2vh;
  display: flex;

  .sort {
    width: 32%;
    margin: 0 0.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  a {
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 1.5vw;
    border-radius: 35px;
    box-shadow: 3px 4px 20px $button;
    background: $button;
    color: #fff;
    animation: button 1s ease;

    h4 {
      margin: 0;
      font-weight: 400;
    }
  }
}

select {
  width: 40%;
  margin: 1vh auto;
  outline: none;
  // border: 1px solid #4d6bff;
  border: 1px solid #eee;
  padding: 1vh 1vw;
  cursor: pointer;
}

@keyframes button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
